.scannerwork/
SummaryOfProjectAnalysis.json
logs\\pclint-importer/
.idea/*
.vscode/
**/coverage.cov
**/coverage.html
**/bin**
**/coverage_global.txt
build/package/dist**
.cache/*
.gitlab/*

build/package/govet-report.out
build/package/golint-report.out
build/package/golangcilint-report.xml
build/package/gosec-report.json
build/package/bin
